<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Sovereign | UI Features - Buttons</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7104932/610428/css/fonts.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="../../assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/css/plugins-md.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="../../assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-md page-header-fixed page-sidebar-closed-hide-logo ">
<!-- BEGIN HEADER -->
<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html">
			<img src="../../assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<li class="start ">
					<a href="index.html">
					<i class="icon-home"></i>
					<span class="title">Overview</span>
					</a>
				</li>

				<li class="active open">
					<a href="javascript:;">
					<i class="icon-diamond"></i>
					<span class="title">UI Features</span>
					<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="ui_general.html">
							General Components</a>
						</li>
						<li class="active">
							<a href="ui_buttons.html">
							Buttons</a>
						</li>
						<li>
							<a href="ui_icons.html">
							Font Icons</a>
						</li>
						<li>
							<a href="ui_colors.html">
							Flat UI Colors</a>
						</li>
						<li>
							<a href="ui_typography.html">
							Typography</a>
						</li>
						<li>
							<a href="ui_tabs_accordions_navs.html">
							Tabs, Accordions & Navs</a>
						</li>
						<li>
							<a href="ui_toastr.html">
							Toastr Notifications</a>
						</li>

					</ul>
				</li>
				<li>
					<a href="javascript:;">
					<i class="icon-puzzle"></i>
					<span class="title">UI Components</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="components_pickers.html">
							Date & Time Pickers</a>
						</li>
						<li>
							<a href="components_dropdowns.html">
							Custom Dropdowns</a>
						</li>
						<li>
							<a href="components_form_tools.html">
							Form Widgets & Tools</a>
						</li>

					</ul>
				</li>
				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Form Stuff</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="form_controls_md.html">
							Material Design<br>
							Form Controls</a>
						</li>
						<li>
							<a href="form_layouts.html">
							Form Layouts</a>
						</li>
						<li>
							<a href="form_editable.html">
							Form X-editable</a>
						</li>
						<li>
							<a href="form_wizard.html">
							Form Wizard</a>
						</li>
						<li>
							<a href="form_validation.html">
							Form Validation</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
					<i class="icon-briefcase"></i>
					<span class="title">Data Tables</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="table_basic.html">
							Basic Datatables</a>
						</li>

						<li>
							<a href="table_managed.html">
							Managed Datatables</a>
						</li>
						<li>
							<a href="table_editable.html">
							Editable Datatables</a>
						</li>
						<li>
							<a href="table_advanced.html">
							Advanced Datatables</a>
					</ul>
				</li>

				<li>
					<a href="javascript:;">
					<i class="icon-user"></i>
					<span class="title">Login Options</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="login_soft.html">
							Login Form</a>
						</li>
						<li>
							<a href="extra_lock2.html">
							Lock Screen</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Buttons <small>buttons, button dropdowns and more</small></h1>
				</div>
				<!-- END PAGE TITLE -->
				<!-- BEGIN PAGE TOOLBAR -->
				<div class="page-toolbar">

				</div>
				<!-- END PAGE TOOLBAR -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="index.html">Home</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">UI Features</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">Buttons</a>
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable-custom tabbable-noborder">
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-6">
										<!-- BEGIN BUTTONS PORTLET-->
										<div class="portlet box grey-cascade ">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>Sovereign Buttons
												</div>
												<div class="tools">
													<a href="javascript:;" class="collapse">
													</a>
													<a href="#portlet-config" data-toggle="modal" class="config">
													</a>
													<a href="javascript:;" class="reload">
													</a>
													<a href="javascript:;" class="remove">
													</a>
												</div>
											</div>
											<div class="portlet-body util-btn-margin-bottom-5">
												<div class="clearfix">
													<h4 class="block">Default Sovereign Buttons</h4>
													<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
													<button type="button" class="btn btn-circle btn orange">Orange</button>
													<!-- Provides  visual weight and identifies the secondary action in a set of buttons -->
													<button type="button" class="btn btn-circle blue">Blue</button>
													<!-- Dark grey button to offer more standout -->
													<button type="button" class="btn btn-circle grey-cascade">Dark</button>
													<!-- Grey button to identify action -->
													<button type="button" class="btn btn-circle default">Default</button>
													<button type="button" class="btn btn-circle white">White</button>
												</div>
												<div class="clearfix">
													<h4 class="block">Disabled</h4>
													<a href="javascript:;" class="btn btn-circle orange disabled">
													Orange </a>
													<a href="javascript:;" class="btn btn-circle blue disabled">
													Blue </a>
													<a href="javascript:;" class="btn btn-circle grey-cascade disabled">
													Dark </a>
													<a href="javascript:;" class="btn btn-circle default disabled">
													Default </a>
													<a href="javascript:;" class="btn btn-circle white disabled">
													White </a>

												</div>
												<div class="clearfix">
													<h4 class="block">Button Sizes</h4>
													<button type="button" class="btn btn-circle orange btn-lg">Large button</button>
													<button type="button" class="btn btn-circle blue">Default button</button>
												</div>
												<div class="clearfix">
													<h4 class="block">Button Tags</h4>
													<a href="javascript:;" class="btn btn-circle default">
													Link </a>
													<button class="btn btn-circle default">Button</button>
													<input type="button" class="btn btn-circle default" value="Input">
													<input type="submit" class="btn btn-circle default" value="Submit">
												</div>
												<div class="clearfix">
													<h4 class="block">Block Buttons</h4>
													<a href="javascript:;" class="btn btn-circle orange btn-block">
													Orange </a>
													<button class="btn btn-circle blue btn-block">Blue</button>
													<input type="button" class="btn btn-circle grey-cascade btn-block" value="Input">
													<input type="submit" class="btn btn-circle default btn-block" value="Submit">
												</div>
											</div>
										</div>
										<!-- END BUTTONS PORTLET-->
										<!-- BEGIN BUTTONS WITH ICONS PORTLET-->
										<div class="portlet box grey-cascade">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>
													<span class="hidden-480">
													Buttons </span>
												</div>

											</div>
											<div class="portlet-body util-btn-margin-bottom-5">
												<div class="tab-content">
													<div class="tab-pane active" id="dropdown_fontawesome">
														<div class="clearfix">
															<h4 class="block">Large Buttons</h4>
															<a href="javascript:;" class="btn btn-lg orange">
															Orange <i class="fa fa-user"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg blue">
															Blue <i class="fa fa-edit"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade">
															Dark <i class="fa fa-link"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg default">
															Default <i class="fa fa-plus"></i>
															</a>
														</div>
														<div class="clearfix">
															<h4 class="block">Default Buttons</h4>
															<a href="javascript:;" class="btn orange">
															Orange <i class="fa fa-user"></i>
															</a>
															<a href="javascript:;" class="btn blue">
															Blue <i class="fa fa-edit"></i>
															</a>
															<a href="javascript:;" class="btn grey-cascade">
															Dark <i class="fa fa-plus"></i>
															</a> 
															<a href="javascript:;" class="btn default">
															<i class="fa fa-times"></i> Default </a>
														</div>
														<div class="clearfix">
															<h4 class="block">Icon Only Buttons</h4>
															<a href="javascript:;" class="btn btn-lg btn-icon-only orange">
															<i class="fa fa-edit"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only blue">
															<i class="fa fa-file-o"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only green">
															<i class="fa fa-font"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only pink">
															<i class="fa fa-search"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only purple">
															<i class="fa fa-times"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only green">
															<i class="fa fa-plus"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only default">
															<i class="fa fa-user"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg btn-icon-only grey-cascade">
															<i class="fa fa-link"></i>
															</a>
														</div>
<div class="clearfix">
															<h4 class="block">Navigation Large Icons Buttons</h4>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big">
															Submit <i class="m-icon-big-swapleft m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big">
															Submit <i class="m-icon-big-swapright m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big">
															Submit <i class="m-icon-big-swapdown m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big">
															Submit <i class="m-icon-big-swapup m-icon-white"></i>
															</a>
														</div>
														<div class="clearfix">
															<h4 class="block">Navigation Large Icons Only Buttons</h4>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big m-icon-only">
															<i class="m-icon-big-swapleft m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big m-icon-only">
															<i class="m-icon-big-swapright m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big m-icon-only">
															<i class="m-icon-big-swapdown m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon-big m-icon-only">
															<i class="m-icon-big-swapup m-icon-white"></i>
															</a>
														</div>
														<div class="clearfix">
															<h4 class="block">Navigation Default Icons Buttons</h4>
															<a href="javascript:;" class="btn btn-lg default m-icon">
															Submit <i class="m-icon-swapleft"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg green m-icon">
															Submit <i class="m-icon-swapright m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg blue m-icon">
															Submit <i class="m-icon-swapdown m-icon-white"></i>
															</a>
															<a href="javascript:;" class="btn btn-lg grey-cascade m-icon">
															Submit <i class="m-icon-swapup m-icon-white"></i>
															</a>
														</div>												</div>
												</div>
											</div>
										</div>
										<!-- END BUTTONS WITH ICONS PORTLET-->
										<div class="portlet box blue">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>Font Awesome Styled Buttons
												</div>
												<div class="tools">
													<a href="javascript:;" class="collapse">
													</a>
													<a href="#portlet-config" data-toggle="modal" class="config">
													</a>
													<a href="javascript:;" class="reload">
													</a>
													<a href="javascript:;" class="remove">
													</a>
												</div>
											</div>
											<div class="portlet-body">
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-group"></i>
												<div>
													 Users
												</div>
												<span class="badge badge-danger">
												2 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-barcode"></i>
												<div>
													 Products
												</div>
												<span class="badge badge-success">
												4 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-bar-chart-o"></i>
												<div>
													 Reports
												</div>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-sitemap"></i>
												<div>
													 Categories
												</div>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-calendar"></i>
												<div>
													 Calendar
												</div>
												<span class="badge badge-success">
												4 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-envelope"></i>
												<div>
													 Inbox
												</div>
												<span class="badge badge-info">
												12 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-bullhorn"></i>
												<div>
													 Notification
												</div>
												<span class="badge badge-danger">
												3 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-map-marker"></i>
												<div>
													 Locations
												</div>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-money"><i></i></i>
												<div>
													 Finance
												</div>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-plane"></i>
												<div>
													 Projects
												</div>
												<span class="badge badge-info">
												21 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-thumbs-up"></i>
												<div>
													 Feedback
												</div>
												<span class="badge badge-info">
												2 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-cloud"></i>
												<div>
													 Servers
												</div>
												<span class="badge badge-danger">
												2 </span>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-globe"></i>
												<div>
													 Regions
												</div>
												</a>
												<a href="javascript:;" class="icon-btn">
												<i class="fa fa-heart-o"></i>
												<div>
													 Popularity
												</div>
												<span class="badge badge-info">
												221 </span>
												</a>
											</div>
										</div>


									</div>
									<div class="col-md-6">
										<!-- BEGIN BLOCK BUTTONS PORTLET-->
										<div class="portlet box grey-cascade">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>Button Groups
												</div>
												<div class="tools">
													<a href="javascript:;" class="collapse">
													</a>
													<a href="#portlet-config" data-toggle="modal" class="config">
													</a>
													<a href="javascript:;" class="reload">
													</a>
													<a href="javascript:;" class="remove">
													</a>
												</div>
											</div>
											<div class="portlet-body">
												<div class="clearfix">
													<h4 class="block">Basic Example</h4>
													<div class="btn-group btn-group-solid">
														<button type="button" class="btn default">Left</button>
														<button type="button" class="btn default">Middle</button>
														<button type="button" class="btn blue">Right</button>
													</div>
												</div>
												<div class="clearfix">
													<h4 class="block">Button Toolbar</h4>
													<div class="btn-toolbar margin-bottom-10">
														<div class="btn-group">
															<button type="button" class="btn btn-default">1</button>
															<button type="button" class="btn btn-default">2</button>
															<button type="button" class="btn btn-default">3</button>
															<button type="button" class="btn btn-default">4</button>
														</div>
														<div class="btn-group">
															<button type="button" class="btn btn-default">5</button>
															<button type="button" class="btn btn-default">6</button>
															<button type="button" class="btn btn-default">7</button>
														</div>
														<div class="btn-group">
															<button type="button" class="btn btn-default">8</button>
														</div>
													</div>
												</div>
												<div class="clearfix">
													<h4 class="block">Button Group Sizing</h4>
													<div class="btn-toolbar">
														<div class="btn-group btn-group-lg btn-group-solid margin-bottom-10">
															<button type="button" class="btn default">Left</button>
															<button type="button" class="btn default">Middle</button>
															<button type="button" class="btn default">Right</button>
														</div>
													</div>
													<div class="btn-toolbar margin-bottom-10">
														<div class="btn-group btn-group-solid">
															<button type="button" class="btn default">Left</button>
															<button type="button" class="btn default">Middle</button>
															<button type="button" class="btn default">Right</button>
														</div>
													</div>
												</div>
												<div class="clearfix">
													<h4 class="block">Nesting Button Group</h4>
													<div class="btn-group">
														<button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
														<button type="button" class="btn btn-default"> Settings</button>
														<button type="button" class="btn btn-default"><i class="fa fa-bullhorn"></i> Feeds</button>
														<div class="btn-group">
															<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
															<i class="fa fa-ellipsis-horizontal"></i> More <i class="fa fa-angle-down"></i>
															</button>
															<ul class="dropdown-menu">
																<li>
																	<a href="javascript:;">
																	Dropdown link </a>
																</li>
																<li>
																	<a href="javascript:;">
																	Dropdown link </a>
																</li>
															</ul>
														</div>
													</div>
													<div class="clearfix margin-bottom-10">
													</div>
												</div>

												<div class="clearfix">
													<h4 class="block">Justified Link Variation</h4>
													<div class="btn-group btn-group-justified">
														<a href="javascript:;" class="btn btn-default">
														Left </a>
														<a href="javascript:;" class="btn btn-default">
														Middle </a>
														<a href="javascript:;" class="btn btn-default">
														Right </a>
													</div>
													<div class="clearfix margin-bottom-10">
													</div>
												</div>
											</div>
										</div>
										<!-- END BLOCK BUTTONS PORTLET-->
										<!-- BEGIN DROPDOWNS PORTLET-->
										<div class="portlet box grey-cascade">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i> Button Dropdowns
												</div>
											</div>
											<div class="portlet-body util-btn-group-margin-bottom-5">

												<div class="clearfix">
													<h4 class="block">Sovereign Style</h4>
													<div class="btn-group">
														<button type="button" class="btn orange">Orange</button>
														<button type="button" class="btn orange dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
														<ul class="dropdown-menu" role="menu">
															<li>
																<a href="javascript:;">
																Action </a>
															</li>
															<li>
																<a href="javascript:;">
																Another action </a>
															</li>
															<li>
																<a href="javascript:;">
																Something else here </a>
															</li>
															<li class="divider">
															</li>
															<li>
																<a href="javascript:;">
																Separated link </a>
															</li>
														</ul>
													</div>
													<!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn blue">Blue</button>
														<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
														<ul class="dropdown-menu" role="menu">
															<li>
																<a href="javascript:;">
																Action </a>
															</li>
															<li>
																<a href="javascript:;">
																Another action </a>
															</li>
															<li>
																<a href="javascript:;">
																Something else here </a>
															</li>
															<li class="divider">
															</li>
															<li>
																<a href="javascript:;">
																Separated link </a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<button type="button" class="btn grey-cascade">Dark</button>
														<button type="button" class="btn grey-cascade dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
														<ul class="dropdown-menu" role="menu">
															<li>
																<a href="javascript:;">
																Action </a>
															</li>
															<li>
																<a href="javascript:;">
																Another action </a>
															</li>
															<li>
																<a href="javascript:;">
																Something else here </a>
															</li>
															<li class="divider">
															</li>
															<li>
																<a href="javascript:;">
																Separated link </a>
															</li>
														</ul>
													</div>
													<!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn default">Default</button>
														<button type="button" class="btn default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
														<ul class="dropdown-menu" role="menu">
															<li>
																<a href="javascript:;">
																Action </a>
															</li>
															<li>
																<a href="javascript:;">
																Another action </a>
															</li>
															<li>
																<a href="javascript:;">
																Something else here </a>
															</li>
															<li class="divider">
															</li>
															<li>
																<a href="javascript:;">
																Separated link </a>
															</li>
														</ul>
													</div>
													<!-- /btn-group -->
												</div>
												<div class="clearfix">
													<h4 class="block">Dropdowns with Multilevel Submenu</h4>
													<!-- Large button group -->
													<div class="btn-group filter">
														<button class="btn orange dropdown-toggle" type="button" data-toggle="dropdown">
														FILTERS <i class="fa fa-angle-down"></i>
														</button>
														<ul class="dropdown-menu" role="menu">

															<li class="dropdown-submenu">
																<a href="javascript:;">
																Filter </a>
																<ul class="dropdown-menu" style="">
																			<li class="filter-top">
																				<i class="fa fa-angle-left"></i> Back
																			</li>
																			<li class="divider">
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li class="divider">
																			</li>
															<li class="filter-bottom" style="height:40px;">
																<a style="float:left;margin-top:6px;" href="javascript:;">
																Clear</a>
																<div class="btn btn-sm orange pull-right">Apply</div>
															</li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a href="javascript:;">
																Filter Group </a>
																<ul class="dropdown-menu" style="">
																	<li class="filter-top">
																		<i class="fa fa-angle-left"></i> Back
																	</li>
																	<li class="divider">
																	</li>
																	<li class="dropdown-submenu">
																		<a href="javascript:;">
																		Another Filter Group </a>
																		<ul class="dropdown-menu">
																			<li class="filter-top">
																				<i class="fa fa-angle-left"></i> Back
																			</li>
																			<li class="divider">
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li class="divider">
																			</li>
															<li class="filter-bottom" style="height:40px;">
																<a style="float:left;margin-top:6px;" href="javascript:;">
																Clear</a>
																<div class="btn btn-sm orange pull-right">Apply</div>
															</li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a href="javascript:;">
																		Another Filter Group </a>
																		<ul class="dropdown-menu">
																			<li class="filter-top">
																				<i class="fa fa-angle-left"></i> Back
																			</li>
																			<li class="divider">
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li>
																				<a href="index.html">
																				Filter Option </a>
																			</li>
																			<li class="divider">
																			</li>
															<li class="filter-bottom" style="height:40px;">
																<a style="float:left;margin-top:6px;" href="javascript:;">
																Clear</a>
																<div class="btn btn-sm orange pull-right">Apply</div>
															</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li class="divider">
															</li>
															<li class="filter-bottom" style="height:40px;">
																<a style="float:left;margin-top:6px;" href="javascript:;">
																Clear All</a>
																<div class="btn btn-sm orange pull-right">Apply</div>
															</li>
														</ul>
													</div>
												</div>


												<div class="clearfix">
													<h4 class="block">Dropdown with Checkboxes & Search Form</h4>
													<div class="btn-group">
														<button class="btn orange dropdown-toggle" type="button" data-toggle="dropdown">
														Search Dropdown <i class="fa fa-angle-down"></i>
														</button>
														<div class="dropdown-menu dropdown-content input-large hold-on-click" role="menu">
															<form action="#">
																<div class="input-group">
																	<input type="text" class="form-control" placeholder="search...">
																	<span class="input-group-btn">
																	<button class="btn blue" type="submit">Go!</button>
																	</span>
																</div>
															</form>
														</div>
													</div>
													<div class="btn-group">
														<button type="button" class="btn blue">Dropdown</button>
														<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
														<div class="dropdown-menu hold-on-click dropdown-checkboxes" role="menu">
															<label><input type="checkbox">Option 1</label>
															<label><input type="checkbox" checked>Option 2</label>
															<label><input type="checkbox">Option 3</label>
															<label><input type="checkbox" checked>Option 4</label>
															<label><input type="checkbox">Option 5</label>
														</div>
													</div>
													<!-- /btn-group -->
												</div>
											</div>
											<!-- END DROPDOWNS PORTLET-->
										</div>
										<div class="portlet box grey-cascade util-btn-group-margin-bottom-5">
											<div class="portlet-title">
												<div class="caption">
													<i class="fa fa-gift"></i>
													<span class="hidden-480">
													Button States </span>
												</div>
											</div>
											<div class="portlet-body util-btn-margin-bottom-5">
												<h4>Loading State</h4>
												<div class="clearfix">
													<button type="button" data-loading-text="Loading..." class="demo-loading-btn btn orange">
													Loading state </button>
													<button type="button" data-loading-text="Loading..." class="demo-loading-btn btn blue">
													Loading state </button>
													<button type="button" data-loading-text="Loading..." class="demo-loading-btn btn grey-cascade">
													Loading state </button>
													<button type="button" data-loading-text="Loading..." class="demo-loading-btn btn default">
													Loading state </button>
												</div>
												<h4>Checkbox</h4>
												<div class="clearfix">
													<div class="btn-group" data-toggle="buttons">
														<label class="btn default active">
														<input type="checkbox" class="toggle"> Option 1 </label>
														<label class="btn default">
														<input type="checkbox" class="toggle"> Option 2 </label>
														<label class="btn default">
														<input type="checkbox" class="toggle"> Option 3 </label>
													</div>
												</div>
												<h4>Radio</h4>
												<div class="clearfix">
													<div class="btn-group" data-toggle="buttons">
														<label class="btn default active">
														<input type="radio" class="toggle"> Option 1 </label>
														<label class="btn blue">
														<input type="radio" class="toggle"> Option 2 </label>
														<label class="btn blue">
														<input type="radio" class="toggle"> Option 3 </label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT-->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2015 &copy; Sovereign UI.
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
<script src="../../assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {       
    // initiate layout and plugins
    Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
    // button state demo
    $('.demo-loading-btn')
      .click(function () {
        var btn = $(this)
        btn.button('loading')
        setTimeout(function () {
          btn.button('reset')
        }, 3000)
    });
});
</script>
</body>
<!-- END BODY -->
</html>